My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "829052ed-5ec2-4039-9f04-c19b5fb30282",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d304315f-7366-4db6-95fb-980d93337b15",
      "name": "Webhook",
      "webhookId": "829052ed-5ec2-4039-9f04-c19b5fb30282"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c70760c1-4bda-48fb-9022-01004d89bff5",
              "leftValue": "={{ $json.query }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "aa865a8b-991e-4b89-b31b-5795f2cdbb00",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YdKpNg3IiaBTIBbZ",
          "mode": "list",
          "cachedResultName": "vendas_rifa",
          "cachedResultUrl": "/projects/iGNnFO0y7DWeHJrQ/datatables/YdKpNg3IiaBTIBbZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cliente": "={{ $json.query.cliente }}",
            "valor": "={{ $json.query.valor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        736,
        -64
      ],
      "id": "2c74b7b4-ab83-4ce2-87b5-a5e6c9c7abb8",
      "name": "Insert row"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        -128
      ],
      "id": "a4dbbd78-7578-4694-9bbc-83d039bcd87d",
      "name": "Message a model"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "159d65e3-e29e-4636-97a7-9660ef214f98",
  "meta": {
    "instanceId": "339ceb05716569ea8da8c5c6a93513ef32b53d93062a1bd686b22324d12ee9fd"
  },
  "id": "pXVWBLcxJblMBXNp",
  "tags": []
}